<!doctype html>
<html>
  <head>
    <title>Fitness App</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <header>
      <br>
      <div class="banner"><br>Fitness History App</div>
    </header>
    <%= yield %>
  </body>
</html>